@model AquariumCalculator.API.InvoiceModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
</head>
<body>
   <h1>@Model.Name</h1>
</body>
</html>
